Repository kathrynljackson/Rancid-Tomatillos-KK, pull requests merged in 2020-10, with the labels that each got.

#6 Create pull_request_template.md
  docs/pull_request_template.md
Labels: documentation

#7 Structure library and files
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  rancid-tomatillos-kk/.gitignore
  rancid-tomatillos-kk/README.md
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Labels: documentation

#14 Fetch data
  src/API.js
  src/App.js
  src/Movie.js
  src/index.js
Labels: Update DOM, User Info API Intro and Movies, documentation, fetch

#16 Fetch ks
  src/API.js
  src/App.js
  src/Movie.js
  src/MovieData.js
  src/apiFetch.js
  src/index.js
Labels: User Info API Intro and Movies, documentation, fetch

#17 Display movies
  public/index.html
  src/MovieData.js
  src/index.css
Labels: Update DOM, User Info API Intro and Movies, documentation

#18 Login ks
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/Header.js
  src/Login.js
  src/MovieData.js
  src/index.css
  src/index.js
Labels: bug, fetch

#21 Post is happening onClick now
  src/Login.js
  src/apiFetch.js
Labels: User Login, documentation, fetch

#24 Testing ks
  src/App/App.css
  src/App/App.js
  src/App/App.test.js
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.js
  src/MovieData/MovieData.js
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
  src/index.js
Labels: User Login, documentation, testing

#28 After login kj
  package-lock.json
  src/App/App.js
  src/Login/Login.js
Labels: Router, User Login, documentation

#29 Router working between login and moviepage with bug
  src/App/App.js
  src/Container/Container.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieData/MovieData.test.js
  src/ShowContainer/ShowContainer.js
  src/index.js
Labels: Post, Router, bug, enhancement

#33 Render individual movies kj
  src/App/App.js
  src/Login/Login.js
  src/MovieData/MovieData.js
  src/ShowContainer/ShowContainer.js
  src/ShowPage/ShowPage.js
  src/apiFetch.js
  src/index.css
Labels: Movie Show Page, Router, Update DOM, documentation

#41 setState: user_rating
  src/App/App.js
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.js
  src/MovieData/MovieData.js
  src/ShowPage/ShowPage.js
  src/apiFetch.js
  src/index.css
Labels: Movie Show Page, Show and Add Ratings, documentation, fetch

#42 Ratings kj
  src/App/App.js
  src/Login/Login.js
  src/ShowPage/ShowPage.js
  src/apiFetch.js
  src/index.js
Labels: Post, Show and Add Ratings, fetch

#44 Iteration4 ks
  src/App/App.js
  src/Login/Login.test.js
  src/MovieData/MovieData.js
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
Labels: Show and Add Ratings, Update DOM, bug, enhancement, testing

#43 Ratings kj
  src/ShowPage/ShowPage.js
Labels: Post, Show and Add Ratings, Update DOM, documentation, fetch

#45 Successfully showing user rating on movie card when user is signed in
  src/App/App.js
  src/MovieData/MovieData.js
Labels: Show and Add Ratings, Update DOM, documentation, fetch

#48 Delete rating is working
  src/ShowPage/ShowPage.js
  src/apiFetch.js
Labels: Remove Ratings, enhancement, fetch

#49 Fix error on loading page
  src/App/App.js
  src/ShowPage/ShowPage.js
Labels: bug, documentation

#50 Sandbox
  README.md
  src/App/App.js
  src/App/App.test.js
  src/Container/Container.js
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieData/MovieData.js
  src/MovieData/MovieData.test.js
  src/ShowContainer/ShowContainer.js
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
  src/apiFetch.js
Labels: Refactor, deliverable, testing

#54 Testing kj
  package-lock.json
  package.json
  public/index.html
  src/App/App.js
  src/App/App.test.js
  src/Header/Header.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
  src/index.css
Labels: Router, Routing, documentation, testing
